html {
  background-color: #4482EE;
}

.tree {
  position: relative;
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  margin: 10px 40px;
  border-radius: 8px;
  box-shadow: 5px 5px 10px #3b71cf, -5px -5px 10px #4d93ff;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  color: white;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  background: linear-gradient(145deg, #3d75d6, #498bff);
  box-shadow: 4px 4px 8px #3b71cf, -4px -4px 8px #4d93ff;
}