.node {
  margin: 5px;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  position: absolute;
  transition: all .5s ease-in-out;
  border-radius: 20px;
  background: linear-gradient(145deg, #3d75d6, #498bff);
  box-shadow: 4px 4px 8px #3b71cf, -4px -4px 8px #4d93ff;
}

.visible {
  opacity: 1;
}

.hidden {
  opacity: 0;
}

.visited {
  background: white;
  color: #4482EE;
}

.right,
.left {
  position: absolute;
}

.right-line {
  background: linear-gradient(145deg, #498bff, #3d75d6);
  box-shadow:  2px 2px 3px #3667bc, -2px -2px 3px #529dff;
  border-bottom: 3px solid transparent;
  width: 45px;
  transform: rotate(-35deg);
  position: absolute;
  bottom: 30px;
  right: 5px;
}

.left-line {
  background: linear-gradient(145deg, #498bff, #3d75d6);
  box-shadow:  2px 2px 3px #3667bc, -2px -2px 3px #529dff;
  border-bottom: 3px solid transparent;
  width: 25px;
  transform: rotate(45deg);
  position: absolute;
  bottom: 30px;
  left: 40px;
}
